#auth-modal {
  h4{
    margin: 0;
  }

  .help-block{
    margin-bottom: 0;
  }

  #registration-form {
    label {
      text-align: left !important;
    }
    .form-group {
      margin-bottom: 0;
    }
    .reg-btn{
      margin-top: 5px;
    }
  }

  .eauth {
    .eauth-list {
      .eauth-service {
        margin-right: 0;
        margin-left: -4px;
        margin-top: 20px;
        .eauth-service-link {
          height: 0;
          padding-top: 32px;
          width: 40px;
        }
      }
    }
  }
}