#auth-modal h4 {
  margin: 0;
}
#auth-modal .help-block {
  margin-bottom: 0;
}
#auth-modal #registration-form label {
  text-align: left !important;
}
#auth-modal #registration-form .form-group {
  margin-bottom: 0;
}
#auth-modal #registration-form .reg-btn {
  margin-top: 5px;
}
#auth-modal .eauth .eauth-list .eauth-service {
  margin-right: 0;
  margin-left: -4px;
  margin-top: 20px;
}
#auth-modal .eauth .eauth-list .eauth-service .eauth-service-link {
  height: 0;
  padding-top: 32px;
  width: 40px;
}
