.request-modal{
  select{
    overflow: hidden;
  }
  .ticket-count {
    width: 50px;
    text-align: center;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      display: none;
    }
  }
  .ticket-request-forms {
    display: none;
    border: 1px solid lightgray;
    padding: 10px;
    margin-top: 20px;
    .remove-member {
      float: right;
      margin-top: 5px;
      cursor: pointer;
    }
  }
}

.ticket-request-form-template {
  display: none;
}