.request-modal select {
  overflow: hidden;
}
.request-modal .ticket-count {
  width: 50px;
  text-align: center;
}
.request-modal .ticket-count::-webkit-outer-spin-button,
.request-modal .ticket-count::-webkit-inner-spin-button {
  display: none;
}
.request-modal .ticket-request-forms {
  display: none;
  border: 1px solid lightgray;
  padding: 10px;
  margin-top: 20px;
}
.request-modal .ticket-request-forms .remove-member {
  float: right;
  margin-top: 5px;
  cursor: pointer;
}
.ticket-request-form-template {
  display: none;
}
