.site-posters{
  .poster{
    padding: 0 15px;
    .panel-body{
      display: table;
      width: 100%;
      > div{
        display: table-cell;
      }
      .poster-date{
        vertical-align: middle;
        width: 10%;
      }
      .poster-name{
        font-size: 14px;
        width: 55%;
        span{
          display: block;
          width: 100%;
          font-size: 12px;
        }
      }
      .poster-location{
        width: 15%;
        span{
          display: block;
          width: 100%;
          font-size: 12px;
        }
      }
      .more-info, .get-request{
        width: 10%;
        vertical-align: middle;
      }
    }
  }
}