.site-festival .poster-head {
  position: absolute;
  width: 100%;
  left: 0;
  top: 51px;
  background-position: 50%;
  padding: 6% 0;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px black, 0 0 1em black;
}
.site-festival .poster-head * {
  font-size: 40px;
}
.site-festival .poster-information {
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  top: 280px;
  position: absolute;
  width: 100%;
  left: 0;
}
.site-festival .poster-information .pi-item {
  display: inline-block;
  width: 24.5%;
  padding: 10px;
  position: relative;
  height: 85px;
}
.site-festival .poster-information .pi-item .pi-title {
  width: 75px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 5px;
  color: lightsalmon;
  font-weight: bold;
}
.site-festival .poster-information .pi-item .pi-value {
  text-align: center;
  text-transform: uppercase;
  height: 100%;
}
.site-festival .poster-information .pi-item .pi-value span {
  vertical-align: -30px;
  font-size: 22px;
}
.site-festival .poster-information .pi-item .pi-value input {
  text-transform: uppercase;
  font-size: 16px;
}
.site-festival .poster-information .pi-item:not(:last-child) {
  border-right: 1px dashed lightgray;
}
.site-festival .poster-description {
  margin-top: 315px;
}
