.wrapper-index-page .box-news .title-box-news {
  background-color: #000;
  text-transform: uppercase;
  padding: 10px 15px;
}
.wrapper-index-page .box-news .title-box-news span {
  color: #fff;
}
.wrapper-index-page .box-news .mini-news {
  padding: 15px 15px 0;
}
.wrapper-index-page .box-news .mini-news .hover-shadow {
  display: none;
  background-color: rgba(208, 208, 208, 0.7);
  top: 0;
}
.wrapper-index-page .box-news .mini-news .text-box-news {
  padding: 0;
}
.wrapper-index-page .box-news .mini-news .text-box-news span:last-child {
  line-height: 65px;
  color: lightgray;
}
.wrapper-index-page .box-news .mini-news .text-box-news:hover span:not(:last-child) {
  text-decoration: underline;
}
.wrapper-index-page .box-news .mini-news .text-box-news:hover .hover-shadow {
  display: block;
}
