.site-festivals{
  .festival{
    position: relative;
    .panel-body{
      img{
        display: block;
        max-width: 100%;
      }
      .festival-right{
        .festival-name{
          margin-top: 0;
        }
        .festival-read-more{
          position: absolute;
          right: 15px;
          bottom: 15px;
          background: #66CC66;
          color: #fff;
        }
      }
    }
  }
}