.site-posters .poster {
  padding: 0 15px;
}
.site-posters .poster .panel-body {
  display: table;
  width: 100%;
}
.site-posters .poster .panel-body > div {
  display: table-cell;
}
.site-posters .poster .panel-body .poster-date {
  vertical-align: middle;
  width: 10%;
}
.site-posters .poster .panel-body .poster-name {
  font-size: 14px;
  width: 55%;
}
.site-posters .poster .panel-body .poster-name span {
  display: block;
  width: 100%;
  font-size: 12px;
}
.site-posters .poster .panel-body .poster-location {
  width: 15%;
}
.site-posters .poster .panel-body .poster-location span {
  display: block;
  width: 100%;
  font-size: 12px;
}
.site-posters .poster .panel-body .more-info,
.site-posters .poster .panel-body .get-request {
  width: 10%;
  vertical-align: middle;
}
