.site-festivals .festival {
  position: relative;
}
.site-festivals .festival .panel-body img {
  display: block;
  max-width: 100%;
}
.site-festivals .festival .panel-body .festival-right .festival-name {
  margin-top: 0;
}
.site-festivals .festival .panel-body .festival-right .festival-read-more {
  position: absolute;
  right: 15px;
  bottom: 15px;
  background: #66CC66;
  color: #fff;
}
