.wrapper-index-page {
  .box-news {
    .title-box-news {
      background-color: #000;
      text-transform: uppercase;
      padding: 10px 15px;
      span {
        color: #fff;
      }
    }
    .mini-news {
      padding: 15px 15px 0;
      .img-box-news {

      }
      .hover-shadow {
        display: none;
        background-color:  rgba(208, 208, 208, 0.7);
        top: 0;
      }
      .text-box-news {
        padding: 0;
        span:last-child {
          line-height: 65px;
          color: lightgray;
        }
      }
      .text-box-news:hover {
        span:not(:last-child) {
          text-decoration: underline;
        }
        .hover-shadow {
          display: block;
        }
      }
    }
  }
}