body{
  background-image: url('../images/body_bj.jpg');
}

#auth-modal-link{
  cursor: pointer;
}

*{
  .font-scada();
  color: #23282B;
}
// system
@import "system/fonts";
@import "system/variables";

// modal windows
@import "modals/auth";
@import "modals/requests";

// pages
@import "pages/site-festivals";
@import "pages/site-index";
@import "pages/site-posters";
@import "pages/site-festival";